/* @import url('http://example.com/example_style.css'); */

/***********************************************/
/* CSS @imports must be at the top of the file */
/* Add them above this section                 */
/***********************************************/


.header_title {
  text-align: center;
}

.header_menu {
  text-align: center;
}

.header_rich_text {
  text-align: center;
}

/*****************************************/
/* Start your style declarations here    */
/*****************************************/